$max-width: 1072px;

// RESPONSIVE MEDIA QUERIES

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// ------ //

$header-height: 4rem;
$main-outer_space: 166px;
$gutter: 20px;
$divider-color: #C7C7C7;